earl_benchmark/
**/experiment/
**/npdir
**/wandb
**/plots/
**/__pycache__/
**/*.pyc
**/*.npy
**/*.pickle
**/*.pkl
**/*.DS_Store
**/Doxyfile
**/pyproject.toml
**/template.yaml
**/sandbox.py
*.dir-locals.el
